disnake
curl_cffi
aiohttp
psycopg2
beautifulsoup4
fuzzywuzzy==0.18.0
g4f==0.3.2.4
nest-asyncio==1.6.0
python-dotenv==1.0.1
python-Levenshtein==0.25.1
requests==2.32.3
mariadb==1.1.11
mysql-connector-python==9.1.0
python-dateutil==2.9.0

# ww

